# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.pdf_text_cache/
faiss_store/
chroma_data/
.venv/
.idea/
__pycache__/
*.bin
.vscode/